html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to bottom, lch(33.52 53.76 125.8), lch(55.97% 31.99 250.73));
    margin: 0;
    padding: 0px;
    font-family: 'Comic Neue', sans-serif;
}
body a {
    color: lch(62.21 43.45 199.21);
    text-decoration: none;
}
header {
    font-size: 20px;
    position: fixed;
    background-color: rgb(8, 71, 33);
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 0;
    text-align: center;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    color: lch(100% 0.01 296.81);
    padding: 10px 30px; 
    text-decoration: none;
    position: relative; 
    transition: color 0.3s ease;
}

nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -5px;
    left: 50%;
    background-color: #3ea16e;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

nav a:hover::after {
    width: 70%; 
}

nav a:hover {
    color: #3ea16e;
}

.main-content {
    padding: 150px 20px 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content h1 {
    color: white;
    text-align: center;
}

section {
    scroll-margin-top: 140px;
    width: 100%;
}

.cuadros {
    background-color: #efefef;
    border: 10px solid #3ea16e;
    border-radius: 10px;
    border-style: groove;
    padding: 15px; 
    width: 300px;
    margin: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cuadros:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

.cuadros img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.contenedor-fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.seccion-favs, .seccion-juntos, .seccion-cositas {
    font-size: larger;
    margin-bottom: 50px; 
}